@use "../variables" as v;
@import "../general.scss";

main {
    width: 100%;
    .wrapper {
        width: 100%;

        .container {
            display: flex;
            flex: 1;
            max-width: 1920px;
            margin: auto;
            .content {
                display: flex;
                flex-direction: column;
                flex: 1;
                .section {
                    width: 100%;
                    padding: 40px;
                    .section-header {
                        display: flex;
                        justify-content: space-between;

                        h2 {
                            font-size: 1.5rem;
                            span {
                                color: v.$primary;
                                font-size: 1.5rem;
                            }
                        }
                    }

                    .section-content-header {
                        display: flex;
                        flex-direction: column;
                        padding: 20px 10px;
                        h2 {
                            font-size: 1.5rem;
                            color: v.$primary;
                        }

                        span {
                            margin: auto;
                        }
                    }

                    .table-wrapper {
                        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                        background-color: v.$white;
                        .table-navigation {
                            display: flex;
                            justify-content: space-between;

                            .printButton {
                                display: flex;
                                flex: 1;
                                justify-content: end;

                                button {
                                    font-weight: bold;
                                    padding: 10px;
                                    border: none;
                                    cursor: pointer;
                                }
                            }
                            input,
                            button {
                                padding: 5px;
                            }
                            input {
                                border: none;
                                border-bottom: 1px solid v.$line;
                                background-color: v.$white;
                                &:focus {
                                    outline: none;
                                    border-bottom: 1px solid v.$line;
                                }

                                &[type="text"] {
                                    min-width: 300px;
                                }
                            }
                            button {
                                font-weight: bold;
                                padding: 10px;
                                border: none;
                                cursor: pointer;
                            }

                            #view-btn {
                                background-color: gray;
                                color: white;
                            }

                            #add-btn,
                            #print-btn {
                                background-color: v.$primary;
                                color: white;
                            }

                            padding: 20px;
                        }

                        .button {
                            display: flex;
                            justify-content: flex-end;

                            button {
                                padding: 10px 20px;
                                border: none;
                                cursor: pointer;
                                margin: 20px;
                                background-color: v.$primary;
                                color: v.$white;
                            }
                        }
                    }
                    .table-wrapper .scrollable-table {
                        min-height: 620px;
                        overflow-y: auto;
                        max-height: 620px;
                        scrollbar-width: thin;
                        scrollbar-color: v.$primary #f1f1f1;
                        background-color: v.$white;
                        .table {
                            width: 100%;

                            border-collapse: collapse;
                            color: v.$black;
                            thead {
                                tr {
                                    th {
                                        padding: 10px;
                                        background-color: v.$white;
                                        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                                        color: v.$black;
                                        position: sticky;
                                        top: 0;
                                    }
                                }
                            }
                            tbody {
                                tr {
                                    td {
                                        text-align: center;
                                        background-color: v.$white;
                                        padding: 40px 0;
                                        button {
                                            background-color: transparent;
                                            border: none;
                                            cursor: pointer;
                                            padding: 10px;
                                            margin: 0 10px;
                                            svg {
                                                width: 100%;
                                            }

                                            &:nth-child(1) svg {
                                                fill: v.$primary;
                                            }

                                            &:nth-child(2) svg {
                                                fill: red;
                                            }
                                        }

                                        .accept-btn,
                                        .activate-btn {
                                            background-color: v.$primary;
                                            color: white;
                                        }
                                        .add-btn {
                                            color: white;
                                            font-size: 1.5rem;
                                            background-color: red;
                                            padding: 5px 10px;
                                        }

                                        .send-btn {
                                            svg {
                                                fill: v.$primary;
                                            }
                                        }
                                        .view-btn,
                                        .edit-btn {
                                            background-color: v.$line;
                                            color: white;
                                        }

                                        .deactivate-btn,
                                        .reject-btn {
                                            background-color: darkred;
                                            color: white;
                                        }
                                    }
                                }
                            }
                        }

                        #scheduleTable,
                        #recordTable {
                            table-layout: fixed;
                            th,
                            td {
                                border: 1px solid v.$line;
                                padding: 0;
                                font-size: 0.8rem;
                                height: 20px;
                            }
                        }
                    }

                    .medical-record {
                        display: flex;
                        padding: 20px;
                        border-bottom: 2px solid v.$line;
                        .medical-record-image {
                            display: flex;
                            flex-direction: column;
                            width: 40%;
                            margin-right: 20px;
                        }
                        p {
                            font-size: 1.2rem;
                            color: v.$primary;
                            text-align: center;
                            margin: 20px 0;
                        }
                        #procedure-container {
                            flex: 1;
                        }
                        #procedureTableBody {
                            td {
                                padding: 0;
                                height: 40px;
                                
                                input {
                                    width: 100%;
                                    border: 1px solid v.$line;
                                    height: 100%;
                                    text-align: center;
                                    &:focus {
                                        outline: none;
                                    }
                                }
                            }
                            .add-record {
                                color: v.$white;
                                font-size: 1rem;
                                background-color: v.$primary;
                                padding: 10px 13px;
                                border-radius: 50%;
                                transition: all 0.2s ease-in-out;
                                cursor: pointer;
                                &:hover {
                                    transform: scale(1.1);
                                }
                            }

                            .delete-btn {
                                font-size: 1.5rem;
                                padding: 5px 10px;
                                margin: 10px 0;
                                border-radius: 50%;
                                transition: all 0.2s ease-in-out;
                                cursor: pointer;

                                svg {
                                    fill: red;
                                }
                                &:hover {
                                    transform: scale(1.1);
                                }
                            }
                        }
                    }

                    .authorization-wrapper {
                        height: 800px;
                        #authorization-container {
                            display: flex;
                            flex-flow: row wrap;
                            height: 800px;
                            max-height: 100%;
                            padding: 50px;
                            .authorization-item {
                                width: 300px;
                                height: 300px;
                                text-align: center;
                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    cursor: pointer;
                                }
                                p {
                                    font-size: 1.2rem;
                                    color: v.$primary;
                                }
                                .edit-btn {
                                    background-color: v.$primary;
                                    color: v.$white;
                                    padding: 10px 20px;
                                    border: none;
                                    cursor: pointer;
                                }
                            }

                            .no-authorization {
                                width: 100%;
                                h2 {
                                    font-size: 1.5rem;
                                    margin: 20px 0;
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#drop-area {
    height: 100%;
    background-color: v.$white;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
#img-view {
    width: 100%;
    height: 100%;
    border: 2px dashed v.$primary;
    background-color: v.$white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#img-view img {
    height: 100px;
    object-fit: contain;
}

#img-view img.show {
    width: 400px;
    height: 500px;
    object-fit: cover;
}

.dz-default.dz-message {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    z-index: 1;
    text-align: center;
    opacity: 0;
}

.pagination-controls {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.pagination-link {
    padding: 10px 15px;
    border: 1px solid #ddd;
    background-color: #f1f1f1;
    color: #333;
    text-decoration: none;
    cursor: pointer;
    transition:
        background-color 0.3s,
        color 0.3s;
}

.pagination-link:hover {
    background-color: v.$primary;
    color: white;
}

.pagination-link.active {
    background-color: v.$primary;
    color: white;
    border-color: v.$primary;
}

.pagination-link:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.table-sortable th {
    cursor: pointer;
}

.table-sortable .th-sort-asc::after {
    content: "\25b4";
}

.table-sortable .th-sort-desc::after {
    content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
    margin-left: 5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
    background: rgba(0, 0, 0, 0.1);
}
