@use "../variables" as v;
@import "../general.scss";

.text-danger {
    text-align: start !important;
    margin-top: 10px;
    color: red;
    font-size: 1rem;
    border: 2px solid rgb(255, 147, 147);
    background-color: rgb(255, 200, 200);
    padding: 5px 0;
    width: 100%;
}

body {
    .container {
        height: 100vh;
        max-width: 1920px;
        display: flex;
        justify-content: center;
        align-items: center;
        .form-default {
            padding: 40px;
            min-width: 500px;
            display: flex;
            flex-direction: column;
            border-radius: 20px;
            .form-heading {
                border-top: 4px solid v.$primary;
                padding: 20px;
                .heading-text {
                    display: flex;
                    justify-content: center;
                    h1 {
                        font-size: 1.5rem;
                        color: v.$primary;
                    }
                }
            }
            .form-body {
                .body-heading {
                    display: flex;
                    justify-content: center;
                }

                .form-group-col {
                    display: flex;
                    flex-direction: column;
                    margin: 20px 0;

                    &:nth-child(6) {
                        padding-bottom: 20px;
                        border-bottom: 2px solid v.$line;
                    }

                    label {
                        margin-bottom: 10px;
                        font-size: 20px;
                    }
                    input {
                        padding: 10px 15px;
                        outline: none;
                        border: solid 1px black;
                        &:focus {
                            outline: none;
                        }
                    }
                    .button {
                        display: flex;
                        justify-content: center;
                        button {
                            flex: 1;
                            padding: 15px 0;
                            background-color: v.$primary;
                            color: v.$white;
                            border: none;
                            cursor: pointer;
                            
                        }
                    }

                    span {
                        text-align: center;
                        a {
                            color: v.$primary;
                            text-decoration: none;
                        }
                    }

                    .forgot-password {
                        text-align: end;
                        a {
                            color: v.$primary;
                            text-decoration: none;
                        }
                    }

                    .password-toggle {
                        display: flex;
                        align-items: center;
                        border: 1px solid v.$black;
                        input {
                            border: none;
                            width: 100%;
                        }
                        span {
                            padding: 0 10px;
                            svg {
                                fill: v.$primary;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 1024px) {

        footer {
            display: none;
        }

        nav {
            display: none;
        }
}