@use "variables" as v;
@import "general";

nav {
    width: 100%;
    padding: 0 200px;
    height: 100%;
    .navigation {
        margin: auto;
        display: flex;
        justify-content: space-between;
        max-width: 1920px;
        div {
            display: flex;
            align-items: center;

            ul {
                list-style: none;
                display: flex;
                height: 100%;
                li {
                    height: 100%;
                    a {
                        display: block;
                        align-content: center;
                        height: 100%;
                        padding: 0 20px;
                        color: v.$black;
                        text-decoration: none;
                        transition: 0.2s ease-in-out;
                        &:hover {
                            color: v.$primary;
                        }
                    }
                }
            }
        }
    }
}
