@use "variables" as v;
@import "general.scss";

#validation-errors,
#update-errors {
    display: none;
}
.text-danger {
    text-align: start !important;
    margin-top: 10px;
    color: red;
    font-size: 1rem;
    border: 2px solid rgb(255, 147, 147);
    background-color: rgb(255, 200, 200);
    width: 100%;
    padding-left: 30px;

    li {
        list-style: disc;
        margin: 5px 0;
    }
}

#updateModal,
#addModal,
#acceptModal,
#rejectModal,
#deactivateModal,
#activateModal,
#cancelModal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;

    .modal {
        background-color: v.$white;
        padding: 10px 0;
        border-radius: 10px;
        min-width: 500px;
        text-align: center;
        .form-header {
            display: flex;
            justify-content: flex-end;

            #add-close-modal,
            #update-close-modal,
            #accept-close-modal,
            #reject-close-modal,
            #deactivate-close-modal,
            #activate-close-modal,
            #cancel-close-modal {
                cursor: pointer;
                padding: 20px 20px 0 20px;
                font-size: 20px;
            }
        }
        .form-content {
            h2 {
                font-size: 2rem;
                margin-top: 10px;
            }

            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 20px;
                .form-control {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    margin: 10px 0;
                    position: relative;

                    #addServiceButton {
                        background-color: v.$primary;
                        color: v.$white;
                        border: none;
                        cursor: pointer;
                        padding: 0 20px;
                    }

                    #serviceList {
                        text-align: left;
                        li {
                            margin: 10px 0;
                        }
                        button {
                            background-color: v.$primary;
                            color: v.$white;
                            border: none;
                            cursor: pointer;
                            padding: 5px 15px;
                        }
                    }
                    p,
                    span {
                        font-size: 1rem;
                    }

                    input,
                    select, textarea {
                        padding: 10px;
                        width: 100%;
                        border: 1px solid v.$line;
                        &:focus {
                            outline: none;
                        }
                    }

                    #dynamic-inputs {
                        position: absolute;
                        border: 1px solid v.$line;
                        width: 100%;
                        top: 100%;
                        z-index: 1;

                        &:focus {
                            outline: none;
                        }
                    }

                    .age {
                        width: 20%;
                        margin-right: 5px;
                    }
                    .phone-number {
                        display: flex;
                        align-items: center;
                        flex: 1;
                        border: 1px solid v.$line;
                        span {
                            font-size: 0.8rem;
                            border-right: 1px solid v.$line;
                            padding: 10px;
                        }
                        input {
                            border: none;
                        }
                    }
                    .province,
                    .city,
                    .country {
                        width: 100%;
                    }

                    textarea {
                        width: 100%;
                        padding: 10px;
                        resize: none;
                        outline: none;
                    }

                    input:focus,
                    select:focus,
                    textarea:focus {
                        outline: none;
                    }
                    .custom-file-input::-webkit-file-upload-button {
                        visibility: hidden;
                    }
                    .custom-file-input::before {
                        content: "Select some files";
                        display: inline-block;
                        background: linear-gradient(top, #f9f9f9, #e3e3e3);
                        border: 1px solid #999;
                        border-radius: 3px;
                        padding: 5px 8px;
                        outline: none;
                        white-space: nowrap;
                        -webkit-user-select: none;
                        cursor: pointer;
                        text-shadow: 1px 1px #fff;
                        font-weight: 700;
                        font-size: 10pt;
                    }
                    .custom-file-input:hover::before {
                        border-color: black;
                    }
                    .custom-file-input:active::before {
                        background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
                    }

                    &:last-of-type {
                        display: flex;
                        justify-content: center;
                        margin-top: 20px;
                        button {
                            border: none;
                            background-color: v.$primary;
                            color: white;
                            padding: 10px 20px;
                            cursor: pointer;
                        }
                    }

                    #drop-area {
                        width: 100%;
                        height: 300px;
                        margin: 30px;
                        background-color: v.$white;
                        text-align: center;
                        border-radius: 20px;
                        cursor: pointer;
                        position: relative;
                        overflow: hidden;
                    }
                    #img-view {
                        width: 100%;
                        height: 100%;
                        border-radius: 20px;
                        border: 2px dashed v.$primary;
                        background-color: v.$white;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }
                    #img-view img {
                        height: 100px;
                        object-fit: contain;
                    }

                    #img-view img.show {
                        height: 100%;
                        object-fit: contain;
                    }

                    .dz-default.dz-message {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: transparent;
                        z-index: 1;
                        text-align: center;
                        opacity: 0;
                    }
                }
                .form-control-col {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    input {
                        padding: 10px;
                        width: 100%;
                        border: 1px solid v.$line;

                        &:focus {
                            outline: none;
                        }
                    }
                }
            }
        }
    }
}

#imageModal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);

    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }

    #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
    }

    .modal-content,
    #caption {
        animation-name: zoom;
        animation-duration: 0.6s;
    }
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;

        &:hover,
        &:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }
    }
}

@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

#viewModal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .modal {
        display: flex;
        flex-direction: column;
        background-color: v.$white;
        padding: 10px 0;
        border-radius: 10px;
        min-width: 1280px;
        min-height: 800px;
        text-align: center;
        .form-header {
            display: flex;
            justify-content: flex-end;

            #view-close-modal {
                cursor: pointer;
                padding: 20px 20px 0 20px;
                font-size: 20px;
            }
        }
        .medical-record {
            display: flex;
            flex: 1;
            padding: 20px;
            div {
                flex: 1;

                p {
                    font-size: 1.2rem;
                    font-weight: bold;
                    margin: 20px;
                }
            }

            .medical-record-image #img-view {
                height: 600px;
                img {
                    height: inherit;
                    object-fit: contain;
                }
            }
            .scrollable-table {
                height: 100%;
                scrollbar-width: thin;
                scrollbar-color: v.$primary #f1f1f1;
                .table {
                    width: 100%;
                    border-collapse: collapse;
                    color: v.$black;
                    thead {
                        tr {
                            th {
                                padding: 0 10px;
                                background-color: v.$white;
                                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                                color: v.$black;
                                position: sticky;
                                top: 0;
                                border: 1px solid v.$line;
                            }
                        }
                    }
                    tbody {
                        tr {
                            td {
                                text-align: center;
                                background-color: v.$white;
                                padding: 20px 0;
                                border: 1px solid v.$line;
                            }
                        }
                    }
                }
            }
        }
    }
}

#authorizationModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .modal-content {
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        max-width: 80%;
        max-height: 80%;

        img {
            height: 500px;
            object-fit: contain;
        }
    }

    .close {
        position: absolute;
        top: 10px;
        right: 10px;
        color: v.$white;
        font-size: 2rem;
        cursor: pointer;
    }
}

#imageModal {
    padding: 5% 0;
    #modalImage {
        height: 100%;
        object-fit: contain;
    }
}